
<h1>JavaScript Tricks</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, quasi ipsam. Optio blanditiis soluta tempore quisquam impedit veniam labore repudiandae voluptatum, aspernatur commodi illo in, similique et minima rerum nulla.</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam expedita voluptatem architecto fugit quos blanditiis repudiandae cumque magnam alias inventore placeat suscipit, commodi odit recusandae veritatis officia pariatur praesentium unde.</p>
